name: The documentation lint to source codes.

on:
  pull_request:
    branches: ["*"]
    paths:
      # workflows
      - ".github/workflows/docs.yml"
      # source code
      - "src/**"
      # configuration files
      - ".oxlintrc.json"
      - "tsconfig.json"
      # packages
      - "bun.lock"
      - "package.json"
  push:
    branches:
      - main
    paths:
      # workflows
      - ".github/workflows/docs.yml"
      # source code
      - "src/**"
      # configuration files
      - ".oxlintrc.json"
      - "tsconfig.json"
      # packages
      - "bun.lock"
      - "package.json"

jobs:
  jsdoc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2.1.2
        with:
          bun-version: latest
      
      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Lint by eslint
        run: bun run oxlint
