name: The source code lint by biome.

on:
  pull_request:
    branches: ["*"]
    paths:
      # workflows
      - ".github/workflows/lint.yml"
      # source code
      - "live/**"
      - "src/**"
      # configuration files
      - "biome.json"
      - "tsconfig.json"
      # package
      - "bun.lock"
      - "package.json"
  push:
    branches:
      - main
    paths:
      # workflows
      - ".github/workflows/lint.yml"
      # source code
      - "live/**"
      - "src/**"
      # configuration files
      - "biome.json"
      - "tsconfig.json"
      # package
      - "bun.lock"
      - "package.json"

jobs:
  biome:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2
        with:
          bun-version: latest
      
      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Lint by biome
        run: bun run biome check live src
